<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section class="todoapp">
        <div>
            <header class="header">
                <h1>todos</h1>
                <input @keyup.13="add" v-model.trim="val" class="new-todo" placeholder="请输入内容">
            </header>
            <section class="main">
                <input class="toggle-all" type="checkbox" @click="qx" :checked="ary.length && ary.every(item=>item.checked)">
                <ul class="todo-list">
                    <li :class="{completed:val.checked,editing:val.onoff}" v-for="(val,key) in setAry" :key="val.id">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="val.checked">
                            <label  @dblclick="replace(val,key)">{{val.txt}}</label>
                            <button class="destroy" @click="rm(val.id)"></button>
                        </div>
                        <input 
                               class="edit"
                               ref="edit"
                               :value="val.txt"
                               @blur="off(val,$event)" 
                               @keyup.esc="close(val.id,false)"
                        />
                    </li>
                </ul>
            </section>
            <footer class="footer" v-show="ary.length">
                <span class="todo-count">
                    <strong>{{ary.filter(item=>!item.checked).length}}</strong>
                    <span>条未选中</span>
                </span>
                <ul class="filters">
                    <li>
                        <a href="#/all" :class="{selected:val2==='全部'}" @click="val2='全部'">全部</a>
                    </li>
                    <li>
                        <a href="#/unchecked" :class="{selected:val2==='未选中'}" @click="val2='未选中'">未选中</a>
                    </li>
                    <li>
                        <a href="#/checked" :class="{selected:val2==='已选中'}" @click="val2='已选中'">已选中</a>
                    </li>
                </ul>
            </footer>
        </div>
    </section>
    <script src="../../vue.js"></script>
    <script>
        // editing completed
        // editing ''
        // ''
        //completed

        new Vue({
            el: '.todoapp',
            data: {
                val: '',
                val2: '全部',
                onoff:true,
                ary: [
                    // {
                    //     id: 0,
                    //     txt: '哈哈',
                    //     checked: false,
                    //     onoff: false
                    // },
                    // {
                    //     id: 1,
                    //     txt: '呵呵',
                    //     checked: false,
                    //     onoff: false
                    // }
                ]
            },
            created(){
                this.ary = getData();
            },
            methods: {
                add() {  // 添加
                    if (this.val) {
                        this.ary.unshift({
                            id: Date.now(),
                            txt: this.val,
                            checked: false,
                            onoff: false
                        });
                        this.val = '';
                    }
                },
                rm(id) { 
                    // 清除数据（删除效果）
                    // this.ary = this.ary.filter((e, index) => index !== key)
                        let sy = this.ary.findIndex(item=>item.id === id)
                        this.ary.splice(sy,1)
                },
                qx() { // 全选
                    if (this.onoff) {
                        this.ary.forEach((item) => {
                            if (item.checked === false) {
                                item.checked = true;
                            }
                        })
                    } else {
                        this.ary.forEach((item) => {
                            if (item.checked === true) {
                                item.checked = false;
                            }
                        })
                    }
                    this.onoff = !this.onoff
                },
                replace({id,txt},num){  //修改替换
                     this.ary.forEach(item=>{
                        if(item.id === id){
                          item.onoff = true;
                        }   
                     })
                     this.$refs.edit[num].value = txt; //让input框的内容等于数据的txt
                     Vue.nextTick(()=>{
                         this.$refs.edit[num].focus(); // 聚焦
                     })
                },
                off({id,txt,onoff},ev){  // 失焦
                    const {value} = ev.target;  // 拿到修改的input框的value
                    if(value && txt != value){   // 有内容并且内容不一样的时候修改数据
                        this.ary.forEach(item=>{
                            if(item.id === id){
                                item.txt = value;
                            }
                        })
                    }
                    this.ary.forEach(item=>{  // 关闭修改的input框
                        if(item.id === id){
                          item.onoff = false;
                        }   
                     })
                },
                close(id,b){
                    this.ary.forEach(item=>{
                        if(item.id === id){
                            item.onoff = b;
                        }
                    })
                }
            },
            computed: {
                setAry() {  // 切换
                    const { val2, ary } = this;
                    return ary.filter(item => {
                        switch (val2) {
                            case "全部":
                                return item;
                            case '未选中':
                                return !item.checked;
                            case '已选中':
                                return item.checked;
                            default:
                                return item;
                        }
                    })
                }
            },
            watch:{
                ary:{
                    handler(){
                        if(this.ary.length){
                            localStorage.setItem('data',JSON.stringify(this.ary)) // 本地存储
                        }                     
                    },
                    //深度监听
                    deep:true,
                    // immediate:true
                }
            }
        })

        function getData(){
            let d = localStorage.getItem('data');
            return d?JSON.parse(d):[
                    {
                        id: 0,
                        txt: '哈哈',
                        checked: false,
                        onoff: false
                    },
                    {
                        id: 1,
                        txt: '呵呵',
                        checked: false,
                        onoff: false
                    }
            ]
        }
    </script>
</body>

</html>